---
import { Code } from "@astrojs/starlight/components";
import { snippetz, type ClientId, type TargetId } from "@scalar/snippetz";
import { ensureNonNullable } from "~/lib/ensureNonNullable";

export interface ExampleData {
  baseUrl: string;
  prefix: string;
  operationPath: string;
}

interface Props<T extends TargetId> {
  target: T;
  client: ClientId<T>;
  isActive: boolean;
  example: ExampleData;
}

const {
  target,
  client,
  isActive,
  example: { baseUrl, prefix, operationPath },
}: Props<TargetId> = Astro.props;

const snippet = ensureNonNullable(
  snippetz().print(target, client, { url: `${baseUrl}${prefix}${operationPath}` }),
  "Could not generate example code",
);
const codeLang = (() => {
  if (target === "node") {
    return "js";
  }

  return target;
})();
---

<div
  data-operation-example
  data-active={isActive}
  data-target={target}
  data-client={client}
  aria-hidden={isActive}
  data-theme="github-dark-default"
>
  <Code code={snippet} lang={codeLang} frame="none" />
</div>

<style>
  [data-operation-example]:not([data-active="true"]) {
    display: none;
  }

  [data-operation-example] :global(.expressive-code .frame pre) {
    background: var(--code-background);
  }
</style>
<script>
  import type { ClientId, TargetId } from "@scalar/snippetz";
  import { emitter } from "./events";

  emitter.on("activateExample", activateExample);

  function activateExample<T extends TargetId>(target: T, client: ClientId<T>) {
    document.querySelectorAll<HTMLDivElement>(`[data-operation-example]`).forEach((el) => {
      const isActive = el.dataset.target === target && el.dataset.client === client;

      el.setAttribute("data-active", isActive ? "true" : "false");
      el.setAttribute("aria-hidden", isActive ? "false" : "true");
    });
  }
</script>
